.chat-full-container{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.chat-center-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages-chat-list{
    overflow-y: scroll;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    width: 100%;
    max-height: 500px;
}

.indepedent-message-self{
    display: flex;
    flex-direction : column;
    align-items: end;
    border-bottom: solid .5px;
}

.p, .h3{
    width: fit-content;
}

.indepedent-message-other{
    display: "flex";
    flex-direction : "column";
    align-items: "start";
    border-bottom: solid .5px;
}